.characterInfo{
    text-align: center;
    h3{
        font-size: 50px;
        margin-bottom: 0;
    }
}

.characterBrief{
    max-width: 1000px;
    margin: auto;
    font-size: 40px;
    padding: 0 20px;
}