@import '../../assets/scss/_variables.scss';

h2{
    text-align: center;
    font-size: 55px;
}
.mascot{
    margin: 60px auto;
    width: 200px;
    text-align: center;
    img{
        max-width: 100%;
    }
}

.valuesColor{
    text-align: center;
    text-transform: capitalize;
    h4,h6{
        display: inline-block;
    }
}

.primaryBtn{
    margin-top: 50px;
    display: block;
}

.membersList{
    margin-top: 50px;
    li{
        display: inline-block;
        padding: 10px 20px;
    }
}