@import '../assets/scss/_variables.scss';

.wayToGH, .learnSpells{
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

.learnSpells{
    float: right;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#loader{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        max-width: 300px;
    }
}